*ANÁLISIS EXPLORATORIO DE DATOS BANCARIOS PREWORK*

Importaciones

In [ ]:
#Importamos pandas
import pandas as pd 
#Importamos numpy
import numpy as np 
#Importamos el archivo de soporte que contiene las funciones
import sys
sys.path.append('../')
from Src.soporte import *

print ("Librerias importadas")

Lectura de datos

Dataset bank_additional

In [9]:
df_bank_sucio = pd.read_csv("../data/bank-additional.csv")
df_bank_sucio.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,...,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,date,latitude,longitude,id_
0,0,NaN,housemaid,MARRIED,basic.4y,0.0,0.0,0.0,telephone,261,...,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,089b39d8-e4d0-461b-87d4-814d71e0e079
1,1,57.0,services,MARRIED,high.school,NaN,0.0,0.0,telephone,149,...,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,e9d37224-cb6f-4942-98d7-46672963d097
2,2,37.0,services,MARRIED,high.school,0.0,1.0,0.0,telephone,226,...,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,3f9f49b5-e410-4948-bf6e-f9244f04918b
3,3,40.0,admin.,MARRIED,basic.6y,0.0,0.0,0.0,telephone,151,...,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,9991fafb-4447-451a-8be2-b0df6098d13e
4,4,56.0,services,MARRIED,high.school,0.0,0.0,1.0,telephone,307,...,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,eca60b76-70b6-4077-80ba-bc52e8ebb0eb

Descripción de columnas

●	age: La edad del cliente.

●	job: La ocupación o profesión del cliente.

●	marital: El estado civil del cliente.

●	education: El nivel educativo del cliente.

●	default: Indica si el cliente tiene algún historial de incumplimiento de pagos (1: Sí, 0: No).

●	housing: Indica si el cliente tiene un préstamo hipotecario (1: Sí, 0: No).

●	loan: Indica si el cliente tiene algún otro tipo de préstamo (1: Sí, 0: No).

●	contact: El método de contacto utilizado para comunicarse con el cliente.

●	duration: La duración en segundos de la última interacción con el cliente.

●	campaign: El número de contactos realizados durante esta campaña para este cliente.

●	pdays: Número de días que han pasado desde la última vez que se contactó con el cliente durante esta campaña.

●	previous: Número de veces que se ha contactado con el cliente antes de esta campaña.

●	poutcome: Resultado de la campaña de marketing anterior.

●	emp.var.rate: La tasa de variación del empleo.

●	cons.price.idx: El índice de precios al consumidor.

●	cons.conf.idx: El índice de confianza del consumidor.

●	euribor3m: La tasa de interés de referencia a tres meses.

●	nr.employed: El número de empleados.

●	y: Indica si el cliente ha suscrito un producto o servicio (Sí/No).

●	date: La fecha en la que se realizó la interacción con el cliente.

●	contact_month: Mes en el que se realizó la interacción con el cliente durante la campaña de marketing.

●	contact_year: Año en el que se realizó la interacción con el cliente durante la campaña de marketing.

●	id_: Un identificador único para cada registro en el dataset.

Dataset customer details

In [10]:
df_cust_sucio = pd.read_csv("../data/customer-details.csv")
df_cust_sucio.head()

,Count,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,ID,Year
0,0,161770,1,0,2012-04-04 00:00:00,29,089b39d8-e4d0-461b-87d4-814d71e0e079,2012
1,1,85477,1,1,2012-12-30 00:00:00,7,e9d37224-cb6f-4942-98d7-46672963d097,2012
2,2,147233,1,1,2012-02-02 00:00:00,5,3f9f49b5-e410-4948-bf6e-f9244f04918b,2012
3,3,121393,1,2,2012-12-21 00:00:00,29,9991fafb-4447-451a-8be2-b0df6098d13e,2012
4,4,63164,1,2,2012-06-20 00:00:00,20,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,2012

DESCRIPCIÓN DE COLUMNAS

- Income: Representa el ingreso anual del cliente en términos monetarios.
- Kidhome: Indica el número de niños en el hogar del cliente.
- Teenhome: Indica el número de adolescentes en el hogar del cliente.
- Dt_Customer: Representa la fecha en que el cliente se convirtió en cliente de la empresa.
- NumWebVisitsMonth: Indica la cantidad de visitas mensuales del cliente al sitio web de la empresa.
- ID: Identificador único del cliente.

A continuación, vamos a combinar ambos datasets en uno solo utilizando un inner join en la columna ID para ello vamos a normalizar el nombre las columnas id de ambos sets:

CAMBIO 1:
Normalizamos el nombre de la columna ID a id del dataset de customer-details

In [11]:
df_cust_sucio = df_cust_sucio.rename(columns={'ID':'id'})
df_cust_sucio.columns

Index(['Count ', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
       'NumWebVisitsMonth', 'id', 'Year'],
      dtype='object')

CAMBIO 2:
Normalizamos el nombre de la columna id_ a id del dataset bank-additional

In [12]:
df_bank_sucio = df_bank_sucio.rename(columns={'id_':'id'})
df_bank_sucio.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'date', 'latitude',
       'longitude', 'id'],
      dtype='object')

Una vez normalizadas ambas columnas vamos a crear un único dataset utilizando un innerjoin en la columna id de ambos sets

In [13]:
df_definitivo_sucio = pd.merge(df_bank_sucio, df_cust_sucio, on= 'id', how= 'inner')
df_definitivo_sucio.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,...,latitude,longitude,id,Count,Income,Kidhome,Teenhome,Dt_Customer,NumWebVisitsMonth,Year
0,0,NaN,housemaid,MARRIED,basic.4y,0.0,0.0,0.0,telephone,261,...,41.495,-71.233,089b39d8-e4d0-461b-87d4-814d71e0e079,0,161770,1,0,2012-04-04 00:00:00,29,2012
1,1,57.0,services,MARRIED,high.school,NaN,0.0,0.0,telephone,149,...,34.601,-83.923,e9d37224-cb6f-4942-98d7-46672963d097,1,85477,1,1,2012-12-30 00:00:00,7,2012
2,2,37.0,services,MARRIED,high.school,0.0,1.0,0.0,telephone,226,...,34.939,-94.847,3f9f49b5-e410-4948-bf6e-f9244f04918b,2,147233,1,1,2012-02-02 00:00:00,5,2012
3,3,40.0,admin.,MARRIED,basic.6y,0.0,0.0,0.0,telephone,151,...,49.041,-70.308,9991fafb-4447-451a-8be2-b0df6098d13e,3,121393,1,2,2012-12-21 00:00:00,29,2012
4,4,56.0,services,MARRIED,high.school,0.0,0.0,1.0,telephone,307,...,38.033,-104.463,eca60b76-70b6-4077-80ba-bc52e8ebb0eb,4,63164,1,2,2012-06-20 00:00:00,20,2012

Exportamos el nuevo dataset como un archivo csv:

In [ ]:
df_definitivo_sucio.to_csv("data_definitivo", index= False)